body {
    box-sizing: border-box;
}

.container {
    margin-top: 10px;
}

.menu-bar {
    height: 25px;
    background-color: #eee;
}

.difficulty-selection {
    float: left;
    margin: 5px 0 0 5px;
    font-size: 1em;
    background-color: #eee;
    border: none;
}

.ms-body {
    background-color: #ccc;
    display: table;
    margin: 0 auto;
    text-align: center;
    font-family: helvetica, sans-serif;
}

.game-body {
    padding: 15px;
    border-top: 6px solid #eee;
    border-right: 6px solid #aaa;
    border-bottom: 6px solid #aaa;
    border-left: 6px solid #eee;
}

.grid-body {
    border-top: 6px solid #aaa;
    border-right: 6px solid #eee;
    border-bottom: 6px solid #eee;
    border-left: 6px solid #aaa;
}

.status-body {
    height: 47px;
    padding: 5px;
    margin-bottom: 15px;
    border-top: 6px solid #aaa;
    border-right: 6px solid #eee;
    border-bottom: 6px solid #eee;
    border-left: 6px solid #aaa;
}

.game-button {
    height: 47px;
    padding-bottom: 0;
    border-top: 5px solid #eee;
    border-right: 5px solid #aaa;
    border-bottom: 5px solid #aaa;
    border-left: 5px solid #eee;
}

#game-button-icon {
    background: yellow;
    border-radius: 50%;
    height: .85em;
    width: .85em;
    line-height: 85%;
}

.game-button:active {
    height: 47px;
    padding-bottom: 0;
    border-top: 5px solid #aaa;
    border-right: 5px solid #eee;
    border-bottom: 5px solid #eee;
    border-left: 5px solid #aaa;
}

.game-button:focus {
    outline: 0;
}

.status {
    color: red;
    background-color: black;
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    height: 36px;
    width: 63px;
    padding: 3px 2px 5px 2px;
    border-top: 2px solid #aaa;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #aaa;
}

.score {
    float: left;
}

.time {
    float: right;
}

.mine-table {
    border: none;
    background-color: #777;
}

.mine-cell {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
}

#mine-clicked {
    background-color: #ddd;
}

#mine-button {
    width: 22px;
    height: 22px;
    background-color: #ccc;
    border-top: 4px solid #eee;
    border-right: 4px solid #aaa;
    border-bottom: 4px solid #aaa;
    border-left: 4px solid #eee;
}

#hit-cell {
    background-color: red;
}

#false-flag {
}

#one {
    color: blue;
}

#two {
    color: green;
}

#three {
    color: red;
}

#four {
    color: darkblue;
}

#five {
    color: darkred;
}

#six {
    color: darkturquoise;
}

#seven {
    color: black;
}

#eight {
    color: gray;
}