body {
    box-sizing: border-box;
}

.mine-table {
    margin: 0 auto;
    border: none;
    background-color: #777;
}

.mine-cell {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#mine-clicked {
    background-color: #ddd;
    width: 32px;
    height: 32px;
}

#mine-button {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-top: 4px solid #eee;
    border-right: 4px solid #aaa;
    border-bottom: 4px solid #aaa;
    border-left: 4px solid #eee;
}

#hit-cell {
    background-color: red;
    width: 32px;
    height: 32px;
}

#one {
    color: blue;
}

#two {
    color: green;
}

#three {
    color: red;
}

#four {
    color: darkblue;
}

#five {
    color: darkred;
}

#six {
    color: darkturquoise;
}

#seven {
    color: black;
}

#eight {
    color: gray;
}